.ipynb_checkpoints/
__pycache__/
*.pyc
*.pkl
*.h5
*.zip
*.tmp
.DS_Store
*.csv

outputs/monitoring_decisions.csv
outputs/urbanev_clean.csv
urbanev_cleaned_processed.csv

.ipynb_checkpoints/
__pycache__/
*.csv

outputs/*.csv

urbanev_cleaned_processed.csv

.ipynb_checkpoints/
__pycache__/